<div class="card">
    <div class="card-body">
        <form (ngSubmit)="updateCourse()" class="container-fluid">
            <div
                class="card-header border-0 cursor-pointer"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#kt_account_profile_details"
                aria-expanded="true"
                aria-controls="kt_account_profile_details"
              >
                <div class="card-title m-0">
                  <h3 class="fw-bolder m-0">Profile Details</h3>
                </div>
              </div>
              <div id="kt_account_profile_details" class="collapse show">
                <div class="card-body border-top p-9"> 
                  <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6"
                      >Course Name</label
                    >
                    <div class="col-lg-8 fv-row">
                      <input [(ngModel)]="courses.name"
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        name="firstname"
                      />
                    </div>
                  <div>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                  <button 
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="isLoading"
                
                  >
                    <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                    <ng-container *ngIf="isLoading">
                      <span clas="indicator-progress" [style.display]="'block'">
                        Please wait...{{ " " }}
                        <span
                          class="spinner-border spinner-border-sm align-middle ms-2"
                        ></span>
                      </span>
                    </ng-container>
                  </button>
                  <button class="btn btn-danger" (click)="close()" type="button">Exit</button>
                </div>
              </div>
            </div>  
          </form>
    </div>
</div>
  